.selectedPage {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
}
.pageNumber {
    margin-top: 20px;
    padding: 2px 22px;
    font-size: 20px;
    /*margin-right:5px;*/
    border: solid 1px black;
    border-right: none;
}
.pageNumber:hover{
    background-color: grey;
    color: whitesmoke;
}





.paginator{
    margin-top: 25px;
    margin-left: auto;
    margin-right: 50px;
    height: 50px;
}
.btnPgn{
    padding: 10px 15px  3.5px 15px;
    font-size: 15px;
    border:1px solid black;
}
.btnPgn:first-child{
    border-right: none;
}

.btnPgn:hover{
    background-color: grey;
    color: whitesmoke;
}
