
.container li {
    margin-bottom: 10px;
}


.menuContainer{
    background-color: gold;
    /*margin-top: 200px;*/
    /*background-color: #EEE;*/
    font-family: sans-serif;
    height: 400px;
    font-size: 20px;
    /*margin: 0;*/
    overflow: auto;
}

.roundButton {
    background-color: #96D9FF;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #0065A6;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}
.roundButton:hover {
    background-color: #96D9FF;
    cursor: pointer;
    border-color: #003557;
    transform: scale(1.2, 1.2);
}
.roundButton:active {
    border-color: #003557;
    background-color: #FFF;
}

.flyoutMenu {
    border: black 1px  solid;
    width: 100vw;
    height: 100vh;
    background-color: #FFE600;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
}
.hide {
    transform: translate3d(-100vw, 0, 0);
}
.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}
.flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
}
.flyoutMenu h2 a:hover {
    text-decoration: underline;
}








.menu {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
    width: 100vw;
    height: 100vh;
}


