.bg{
    background-color: gold;
    width: 100%;
    height: 100%;
    /*margin-top: -19px;*/
}


.containerId{
    text-align: center;
}

.myIp {
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    font-size: 55px;
    /*border: 1px black solid;*/
}



.advance {
    /*border: 1px black solid;*/
    margin:-35px;
    font-family: sans-serif;
    color: #907400;
    text-align: center;
}

